{% extends 'probase.html.twig' %}

{% block title %}Дочь - Элит{% endblock %}


{% block menupro %}
    {{ include('app/proekts/_tabs.html.twig') }}

 {{ include('app/proekts/page_glavas/elitmatka/childs/_tabs.html.twig') }}
{% endblock %}

{#{% block kroxii %}#}
{#    <a href="{{ path('app.proekts.basepro') }}">Главная</a>#}
{#    <span class="aktiv ">БрендМатки</span>#}
{#{% endblock %}#}

{% block bodyy %}

    <h1 class="zagol-teni zagol-teni--em4 ma-bo-2">Дочь - Элит. Не готова к просмотру</h1>
{% endblock %}