.foto-pchelo {
  display: block; // блочная
  margin: 2rem auto 1.5rem;
  position: relative; //чтобы бордер не исчезал  под картинкой

  //border: 2px solid $border-foto;
  border: 2px solid $border-linia-nav ;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
  border-radius: 5px;
}

.child-lich-stran {
  background-image: url('../../../../images/foto-for-help/pchelos/childs/child-lich-stran.png');
  width: 827px;
  height: 1015px;
}

.child-spisok-filtr {
  background-image: url('../../../../images/foto-for-help/pchelos/childs/child-spisok-filtr.png');
  width: 982px;
  height: 583px;
}

.child-reg-1 {
  background-image: url('../../../../images/foto-for-help/pchelos/childs/child-reg-1.png');
  width: 997px;
  height: 482px;
}

.child-reg-2 {
  background-image: url('../../../../images/foto-for-help/pchelos/childs/child-reg-2.png');
  width: 997px;
  height: 474px;
}

.child-reg {
  background-image: url('../../../../images/foto-for-help/pchelos/childs/child-reg.png');
  width: 715px;
  height: 869px;
}

.child-sezon {
  background-image: url('../../../../images/foto-for-help/pchelos/childs/child-sezon.png');
  width: 704px;
  height: 491px;
}

.child-sezon-1 {
  background-image: url('../../../../images/foto-for-help/pchelos/childs/child-sezon-1.png');
  width: 807px;
  height: 419px;
}

.child-sezon-2 {
  background-image: url('../../../../images/foto-for-help/pchelos/childs/child-sezon-2.png');
  width: 688px;
  height: 341px;
}


.pchelo-reg {
  background-image: url('../../../../images/foto-for-help/pchelos/pchelo-reg.png');
  width: 713px;
  height: 813px;
}

.pchel-sdelano {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-sdelano.png');
  width: 875px;
  height: 523px;
}

.pchelo-spisok {
  background-image: url('../../../../images/foto-for-help/pchelos/pchelo-spisok.png');
  width: 782px;
  height: 343px;
}

.pchel-kateg {
  background-image: url('../../../../images/foto-for-help/pchelos/pchelo-kateg.png');
  width: 731px;
  height: 397px;
}

.pchel-rasa {
  background-image: url('../../../../images/foto-for-help/pchelos/rasa-zapr.png');
  width: 762px;
  height: 399px;
}

.pchel-redakt {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-redakt.png');
  width: 847px;
  height: 510px;
}

.pchel-redakt-0 {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-redakt-0.png');
  width: 847px;
  height: 425px;
}
.pchel-redakt-1 {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-redakt-1.png');
  width: 628px;
  height: 277px;
}
.pchel-redakt-2 {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-redakt-2.png');
  width: 700px;
  height: 236px;
}
.pchel-redakt-3 {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-redakt-3.png');
  width: 687px;
  height: 102px;
}
.pchel-redakt-4 {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-redakt-4.png');
  width: 818px;
  height: 383px;
}

.pchel-redakt-5 {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-redakt-5.png');
  width: 594px;
  height: 357px;
}
.pchel-redakt-6 {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-redakt-6.png');
  width: 662px;
  height: 421px;
}

.pchel-redakt-7 {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-redakt-7.png');
  width: 634px;
  height: 375px;
}
.pchel-redakt-8 {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-redakt-8.png');
  width: 788px;
  height: 214px;
}

.pchel-redakt-9 {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-redakt-9.png');
  width: 694px;
  height: 376px;
}

.pchelo-spisok-wse {
  background-image: url('../../../../images/foto-for-help/pchelos/pchelo-spisok-wse.png');
  width: 865px;
  height: 411px;
}

.pchelo-shifr {
  background-image: url('../../../../images/foto-for-help/pchelos/pchelo-shifr.png');
  width: 770px;
  height: 380px;
}

.kateg-zapr {
  background-image: url('../../../../images/foto-for-help/pchelos/kateg-zapr.png');
  width: 585px;
  height: 520px;
}

.rasaa-zapr {
  background-image: url('../../../../images/foto-for-help/pchelos/rasaa-zapr.png');
  width: 660px;
  height: 496px;
}




