<aside class="sidebarr">

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>

    <div class="sidebarr__content">
        <div class="profilee">
            <div class="mesto-kar"> </div>
            <div class="profilee__header">
                <div class="profilee__name blink"> Иформация </div>
                <div class="profilee__prof"> Когда используется НомерМеста </div>
            </div>
            <ul >    
                <li><span class="profilee__name blink">=></span> При регистрации Маток</li>
                <li><span class="profilee__name blink">=></span> Поиск Маток по НомерМесту</li>
                <li><span class="profilee__name blink">=></span> Поиск участнков по НомерМесту</li>
                <li><span class="profilee__name blink">=></span> Анализ результатов по НомерМесту</li>
            </ul>
        
            <div class="profilee__text">
                <div class="profilee__header">           
                    <div class="profilee__name"> Внимание! </div>
                    <div class="profilee__prof"> Без выбора НомерМеста расположения Вашей 
                    пасеки - невозможно стать участником проекта </div>
                </div>
            </div>  
       
    </div><!-- /.profile -->

    </div>

</aside>