<aside class="sidebarr">

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>

       <div class="sidebarr__content">
        <div class="profilee">

        <div class="mesto-kar"> </div>

            <div class="profilee__header">
                <div class="profilee__name blink"> НомерМеста </div>
                <div class="profilee__prof"> Сохраняем НомерМеста в БД</div>
            </div>
            <ul >    
                <li><span class="profilee__name blink">=></span> Проверьте  выбранные данные!   </li>
                <li><span class="profilee__name blink">=></span> Если что-то не так - есть меню для возврата на любую станичку  </li>

                <li><span class="profilee__name blink">=></span> Нажмите на кнопку "Сохранить"!!!  </li>

            </ul>
            <div class="profilee__text">
                <div class="profilee__header">           
                    <div class="profilee__name"> Внимание! </div>
                    <div class="profilee__prof"> Без выбанного НомерМеста  - невозможно стать участником проекта </div>
                </div>
            </div>     
                        
        </div><!-- /.profile -->
    
       
    </div><!-- /.sidebar__content -->
    {# <div class="sidebarr__footer-text">
        <div class="sidebarr__footer">       
            <form class="searchh"  method="get">
                <input class="searchh__input" type="text" placeholder="Поиск по проекту">
            </form>
            <div class="sidebarr__lupa">
                    <img src="{{ asset('assets/proekt/images/lupa.png') }}" alt="">
            </div>
       </div>
   </div> #}
		

</aside>