<aside class="sidebarr">

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>


    <div class="sidebarr__content">

        <div class="person-kar"></div>

        <div class="profilee">

{#            <img class="profilee__avatar  profilee__avatar--persona" src="{{ asset('assets/proekt/images/persona/person.png') }}" alt="">#}
            <div class="profilee__header">           
                <div class="profilee__name "> Выбираем
                    <span class="blink">диапазон  </span>
                </div>
                <div class="profilee__prof"> Всё очень просто! </div>
            </div>
            <ul >    
                <li><span class="profilee__name blink">=></span> Для выбора просто щелкните по   нужному диапазону </li>

                <li><span class="profilee__name blink">=></span> Если ошиблись - можно перещелкнуть )</li>

                <li><span class="profilee__name blink">=></span> Справа кнопка: <br> "Смотрим .." - жмем и переходим на страничу выбора </li>
                
            </ul>
            <div class="profilee__text">
                <div class="profilee__header">           
                    <div class="profilee__name"> Внимание! </div>
                    <div class="profilee__prof ma-bo-2"> Если обнаружили ошибку  </div>
                    <button class="btnn  btnn-pers " type="button" data-modal="contact-modal">
                    напишите мне
                </button>
                </div>
            </div>     
                        
        </div><!-- /.profile -->
    
       
    </div><!-- /.sidebar__content -->

		

</aside>