<aside class="sidebarr">

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>

    <div class="sidebarr__content">
        <div class="profilee">

            <div class="person-wse"></div>

            <div class="profilee__header">
                <div class="profilee__name blink"> Иформация</div>
            </div>

            <div class="profilee__text">
                <div class="profilee__header">
                    <div class="profilee__name">
                        <strong class="strongo strongo--krox">Поздравляю! </strong>
                    </div>
                    <div class="profilee__prof"> Выбор сделан. <br>
                        Есть запись в <br> <strong class="strongo strongo--krox">БД</strong>
                        (базе данных)
                    </div>
                </div>
            </div>

        </div><!-- /.profile -->

    </div><!-- /.sidebar__content -->

</aside>