<aside class="sidebarr">

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>


    <div class="sidebarr__content">
        <div class="profilee">

            <div class="plem-ind"></div>

            <div class="profilee__header">
                <div class="profilee__name blink"> Сделано!!!   </div>
                <div class="profilee__prof"> У Вас все получилось </div>
            </div>
            <ul >
                <li><span class="profilee__name blink">Сейчас актуально  </span>  </li>

                <li><span class="profilee__name blink">=>  </span> добавить 3-и сезона </li>

                <li><span class="profilee__name blink">=>  </span> посмотреть расшифровку</li>

                <li><span class="profilee__name blink">=>  </span>нажать на кнопку "Список Ваших Пчело - Маток"</li>

                
            </ul>
            <div class="profilee__text">
                <div class="profilee__header">           
                    <div class="profilee__name"> Внимание! </div>
                    <div class="profilee__prof"> Если обнаружили ошибку 
                    </div>
                    <button class="btnn  btnn-pers " type="button" data-modal="contact-modal">
                    напишите мне
                </button>
                </div>
            </div>     
                        
        </div><!-- /.profile -->
    
       
    </div><!-- /.sidebar__content -->

		

</aside>