{% extends 'probase.html.twig' %}

{% block title %}Создать{% endblock %}



{% block bodyy %}

    {#    {{ include('app/adminka/elitmatkas/_tabs.html.twig') }}#}
    {#    {% include 'app/adminka/matkas/plemmatka/_tabs.html.twig' %}#}

    {#    {% include 'app/adminka/matkas/plemmatka/redaktors/_tabs.html.twig' %}#}

    <h2>Добавить СЕЗОН</h2>

    <div class=" proekts proekts--pchelomat">


        <div class="inklud inklud--pchelomat ">

            <div class="pchelo-title  pchelo-teni ">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock %}