<aside class="sidebarr">

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>

    <div class="sidebarr__content">
        <div class="profilee">

            <div class="  plem-ind "></div>

            <div class="sid__header">
                <div class="profilee__name">Условные обозначение
                   <span class="blink"> категорий </span>
                </div>
            </div>
            <ul>
                <li class="st-plem " ><span class=" blink">бр - брендовая</span> 	</li>
                <li class="profilee__prof" ><span class=" blink"> бр / а</span>даптированная</li>
                <li class="profilee__prof" ><span class=" blink"> бр / с</span>елекционная</li>
                <li>-----------------</li>
                <li class="st-plem " ><span class=" blink"> м - местная</span> </li>
                <li class="profilee__prof" ><span class=" blink"> м / а</span>даптированная</li>
                <li class="profilee__prof" ><span class=" blink"> м / с</span>елекционная</li>
            </ul>
            <div class="profilee__text">
                <div class="profilee__header">
                    <div class="profilee__name"> <span class="blink">Внимание!  </span></div>
                    <div class="profilee__prof ma-bo-2 "> Можно придумать
                       <span class="blink"> свои </span>
                        Категории и Характеристики категорий
                    </div>
                    <button class=" btnn btnn-sidebarr " type="button" data-modal="contact-modal">
                        Напишите мне!
                    </button>
                </div>
            </div>

        </div><!-- /.profile -->

    </div>

</aside>