.zapros-form__header {
  margin: 0 0 2.5rem 0;
}

.zapros-form {
  margin-right: 4rem;

  form {
    div {

      .form-group {

        display: flex;
        justify-content: space-between;;
        align-items: baseline; // выравнивание по вертикали
        margin-bottom: 1.5rem;
        width: 100%;


        label {
          display: block;
          margin-bottom: 1rem;
          width: 10rem;
          font-size: 1.3rem;
          color: $elit-col-pro7;

        }

        textarea {
          //width: 20rem;
          height: 38px; // уменьшаем текстовое поле по высоте
          overflow: hidden;
          resize: none;

          .form-control {
            display: block;
            width: 100%;

            padding: 0.375rem 0.75rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            background-color: rgba(0, 0, 0, 0.1);
            background-clip: padding-box;
            border-top: 1px solid transparent;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          }

        }

        input {
          display: block;
          //width: 20rem;

          background: none; // убираем цвет

          //border: none;
          //border-bottom: 1px solid $elit-col-pro3; //этот цвет полоски меняется при фокусе
          //border-radius: 0;
          box-shadow: none;

          font-family: inherit; // наследуемся
          font-size: 1.3rem;
          color: $elit-col-pro3;


          &:hover {
            color: red;
          }

          &::placeholder {
            color: rgba($elit-col, .7); // непрозрачность


          }


          border-bottom: 1px solid $elit-col-pro3;
        }
      }
    }
  }
}
