<div>
    <h2 class="storie-teni storie-teni--em3">
        Вы участник проекта
    </h2>
    <h1 class="storie-teni"> Рег-Те-Ма</h1>

    <h1 class="zagol-teni-44  ">
        <span class="col-kras">Шаг  второй ! </span>
        <p>Работа с матками - это одна из кнопок : </p>
    </h1>
</div>

<ul class="mestoo__title">
    <li class="zagol-teni-44  zagol-teni-44--px32">
        Работа с <p><span class="col-kras">Елит-М </span></p>
    </li>
    <li class="mestoo__title-item ">
        <a href="{{ path('app.proekts.page_glavas.elitmatka.show') }}">
            <div class="foto el-m"></div>
        </a>
    </li>
</ul>

<ul class="mestoo__title">
    <li class="zagol-teni-44  zagol-teni-44--px32">
        Работа с <p><span class="col-kras">Бренд-М </span></p>
    </li>
    <li class="mestoo__title-item ">
        <a href="{{ path('app.proekts.page_glavas.brendmatka.show') }}">
            <div class="foto br-m"></div>
        </a>
    </li>
</ul>

<ul class="mestoo__title">
    <li class="zagol-teni-44  zagol-teni-44--px32">
        Работа с <p><span class="col-kras">Пчело-М </span></p>
    </li>
    <li class="mestoo__title-item ">
        <a href="{{ path('app.proekts.page_glavas.pchelomatka.show') }}">
            <div class="foto pc-m"></div>
        </a>
    </li>
</ul>

<h1 class="zagol-teni-44  zagol-teni-44--px32  ma-to-2">
     <span class="col-kras">P.S. </span>
    <p> Для всех категорий маток важны </p>
    приготовления : <span class="col-kras">перед  </span>, до того как : <span class="col-kras"> после </span>
</h1>
    <div class="foto wse-m"></div>


