
{# <div class="proekts pro-mesto ma-to-2"> #}

        <h1 class="storie-teni  col-kras"> Рег - Те - Ма</h1>

        <h1 class="zagol-teni-44  ">
             Станьте участником проекта
        </h1>
        <h1 class="zagol-teni-44  ">
                 <span class="col-kras">Шаг  первый : </span>
                   жмём на кнопку <span class="col-kras"> Участие</span>
                  <p class="zagol-teni-44--px32"> ( или картинку )</p>
        </h1>

    <ul >
      
        <li class="mestoo__title-item ">
           <a href="{{ path('app.proekts.pasekas.uchasties.basepro') }}">
                <div class="foto glav-uch"></div>
           </a>
        </li>
    </ul>

{# </div> #}

